<div class="mx-auto max-w-7xl">
  <nav
    class="relative flex items-center justify-between z-10"
    aria-label="Global"
  >
    <a
      class="flex items-center justify-between w-full rounded-lg md:w-auto focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-primary-600"
      href="/"
      ><img src="/static/logo.svg" alt="Seaty Logo" class="h-10"
    /></a>
    <div class="flex flex-row items-center gap-x-6">
      <a
        class="hover:bg-primary-400 inline-flex items-center h-10 px-4 py-2 ml-2 text-sm font-medium border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-primary-600"
        href="/app/"
        >App</a
      >
      <a
        class="hover:bg-primary-400 inline-flex items-center h-10 px-4 py-2 ml-2 text-sm font-medium border border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-primary-600"
        href="/about/"
        >Über</a
      >
      <div class="hidden md:flex md:items-center md:justify-end">
        <span class="inline-flex space-x-2">
          <a
            href="#"
            class="py-5 px-6 bg-white border border-gray-400 hover:bg-primary-400 text-sm font-medium rounded-md shadow-xs border-opacity-10 sm:px-14 focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-primary-600"
            >Log in</a
          >
        </span>
      </div>
    </div>
  </nav>
</div>
