---
layout: base.njk
title: 404
description: Upps, diese Seite existiert nicht!
---

<main>
  <div
    style="
      position: fixed;
      z-index: 9999;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      pointer-events: none;
    "
  ></div>
  <div class="mx-auto overflow-hidden">
    <div class="mx-auto bg-white">
      <div class="relative mx-auto max-w-7xl">
        <div
          class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full"
          aria-hidden="true"
        >
          <div class="relative h-full mx-auto max-w-7xl"></div>
        </div>
        <div class="relative px-4 pt-10 md:px-10">
          {% include "navigation.njk" %}
          <section class="bg-center body-font bg-patterns">
            <div
              class="container px-6 pt-8 mx-auto sm:px-8 sm:pt-16 md:pt-32 lg:px-4"
            >
              <img
                src="/static/primary-light-blur.svg"
                alt=""
                class="w-[550px] sm:w-[70%] h-auto absolute right-10 sm:right-0 bottom-0 overflow-visible transform translate-x-1/3 -translate-y-1"
              /><img
                src="/static/primary-dark-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute left-0 bottom-0 transform -translate-x-1/2 translate-y-1/2"
              />
              <img
                src="/static/warning-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute left-0 transform -translate-x-1/2 -translate-y-1/3"
              /><img
                src="/static/attention-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute right-0 transform translate-x-1/2 -translate-y-1/3"
              /><img
                src="/static/primary-dark-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute right-0 bottom-0 transform translate-x-1/2 translate-y-1/2"
              />
              <div
                class="flex flex-col items-start w-full max-w-2xl mx-auto mb-8 text-left md:items-center md:text-center"
              >
                <h1 class="mb-8 text-4xl font-bold tracking-tight md:text-6xl">
                  Uuppppps! Diese Seite ist nicht auffindbar...
                </h1>
                <div class="relative z-10">
                  <a
                    href="/"
                    class="inline-flex items-center w-full py-6 text-base font-bold text-white bg-primary-800 border border-transparent rounded-md px-14 hover:bg-primary-400 hover:text-primary-900 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-primary-600"
                    >Back Home</a
                  >
                </div>
              </div>
            </div>
            <div class="relative w-full my-20">
              <img
                src="/static/puroviva-hero.webp"
                alt="Screenshot of Puroviva App"
                class="relative z-30 w-3/4 max-w-6xl mx-auto shadow-xl -skew-y-2"
              /><img
                src="/static/gradient_ball.svg"
                alt=""
                class="h-[30.937%] z-40 absolute left-[84%] top-[8.3%]"
              /><img
                src="/static/gradient_ball.svg"
                alt=""
                class="h-[51.215%] z-40 absolute left-[-4.86%] top-[41.605%]"
              />
              <div
                class="w-[48%] h-auto absolute -right-1/3 top-[-22.401%] z-0"
              >
                <div
                  class="aspect-w-1 aspect-h-1 bg-attention rounded-full filter blur-[85px] sm:blur-[150px] md:blur-[200px] lg:blur-[250px]"
                ></div>
              </div>
              <div class="w-[48%] h-auto absolute left-[-20.833%] top-0 z-0">
                <div
                  class="aspect-w-1 aspect-h-1 bg-warning rounded-full filter blur-[85px] sm:blur-[150px] md:blur-[200px] lg:blur-[250px]"
                ></div>
              </div>
              <div
                class="w-[28.56%] h-auto absolute left-[-20.833%] top-[44.802%] z-10"
              >
                <div
                  class="aspect-w-1 aspect-h-1 bg-pink-300 rounded-full filter blur-[55px] sm:blur-[60px] md:blur-[110px] lg:blur-[160px]"
                ></div>
              </div>
              <div
                class="w-[40.8%] h-auto absolute right-[-16.666%] top-[22.401%] z-10"
              >
                <div
                  class="aspect-w-1 aspect-h-1 bg-pink-300 rounded-full filter blur-[55px] sm:blur-[60px] md:blur-[110px] lg:blur-[160px]"
                ></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="bg-white">
        <div
          class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8"
        >
          {% include "navigation.njk" %}
          <p class="mt-8 text-base text-center text-gray-400">
            Christian Kozalla
          </p>
        </div>
      </footer>
    </div>
  </div>
</main>
