---
layout: base.njk
title: Home
description: Seaty, die Sitzplan-App, ermöglicht schnelles, einfaches Erstellen, Teilen und Speichern deines Sitzplans! Sitzplan managen leicht gemacht! Mehr über das Projekt und den Autor.
---

<main>
  <div
    style="
      position: fixed;
      z-index: 9999;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      pointer-events: none;
    "
  ></div>
  <div class="mx-auto overflow-hidden">
    <div class="mx-auto bg-white">
      <div class="relative mx-auto max-w-7xl">
        <div
          class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full"
          aria-hidden="true"
        >
          <div class="relative h-full mx-auto max-w-7xl"></div>
        </div>

        <div class="relative px-4 pt-10 md:px-10">
          {% include "navigation.njk" %}
          <section class="bg-center body-font bg-patterns">
            <div
              class="container px-6 pt-8 mx-auto sm:px-8 sm:pt-16 md:pt-32 lg:px-4"
            >
              <img
                src="/static/primary-light-blur.svg"
                alt=""
                class="w-[550px] sm:w-[70%] h-auto absolute right-10 sm:right-0 bottom-0 overflow-visible transform translate-x-1/3 -translate-y-1 select-none"
              /><img
                src="/static/primary-dark-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute left-0 bottom-0 transform -translate-x-1/2 translate-y-1/2 select-none"
              />
              <img
                src="/static/warning-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute left-0 transform -translate-x-1/2 -translate-y-1/3 select-none"
              /><img
                src="/static/attention-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute right-0 transform translate-x-1/2 -translate-y-1/3 select-none"
              /><img
                src="/static/primary-dark-blur.svg"
                alt=""
                class="overflow-visible w-[550px] sm:w-[70%] h-auto absolute right-0 bottom-0 transform translate-x-1/2 translate-y-1/2 select-none"
              />
              <div
                class="flex flex-col items-start w-full max-w-2xl mx-auto mb-8 text-left md:items-center md:text-center mb-16"
              >
                <h1 class="mb-8 text-4xl font-bold tracking-tight md:text-6xl">
                  Mehr über Seaty
                </h1>
                <p
                  class="mx-auto text-xl tracking-tight text-gray-700 max-w-lg mb-8"
                >
                  Die Idee, eine Sitzplan-App zu entwickeln, hat mir meine
                  wundervolle Frau Stephie geflüstert. Sie ist Lehrerin und hat
                  mehrmals jährlich Bedarf, Sitzpläne zu managen. Von ihr
                  stammen gleichzeitig viele Feature-Ideen. Ganz besonders
                  profitiere ich als Developer von ihrem unmittelbaren Feedback
                  zur UX von Seaty und Hinweise auf eingeschlichene Bugs.
                </p>
                <figure class="mb-8">
                  <img
                    src="https://christiankozalla.github.io/CV/assets/Avatar.d4a6dd67.webp"
                    alt="Foto von Christian Kozalla"
                    class="h-48 rounded-full mx-auto mb-2"
                  />
                  <figcaption class="font-bold text-2xl text-gray-700">
                    Christian Kozalla<br />Developer von Seaty
                  </figcaption>
                </figure>

                <p
                  class="mx-auto mb-8 text-xl tracking-tight text-gray-700 max-w-lg"
                >
                  Gleichzeitig entwickle ich Seaty, um moderne
                  Frontend-Technologien zu lernen - allen voran React.js
                  <br />Mindestens ebenso wichtig für mich ist es, meine
                  Fähigkeiten in TypeScript zu verbessern. Zusätzlich erfreue
                  ich mich an weiteren Technologien, ohne deren Existenz die
                  Entwicklung dieser App enorm erschwert würde:
                </p>
                <ul
                  class="mx-auto text-xl tracking-tight text-gray-700 max-w-lg"
                >
                  <li class="flex items-center gap-4">
                    {% include "icons/checkmark.njk" %} Vite als Build-Tools
                  </li>
                  <li class="flex items-center gap-4">
                    {% include "icons/checkmark.njk" %} CSS Modules
                  </li>
                  <li class="flex items-center gap-4">
                    {% include "icons/checkmark.njk" %} react-dnd
                  </li>
                  <li class="flex items-center gap-4">
                    {% include "icons/checkmark.njk" %} jsPDF und HTML2Canvas
                  </li>
                  <li class="flex items-center gap-4">
                    {% include "icons/checkmark.njk" %} GitHub Actions
                  </li>
                  <li class="flex items-center gap-4">
                    {% include "icons/checkmark.njk" %} Hosting von nem S3
                    Bucket auf Scaleway
                  </li>
                </ul>
              </div>
              <div
                class="flex flex-col items-center md:flex-row md:justify-center"
              >
                <div
                  class="items-center justify-center max-w-xl space-y-8 sm:space-x-8 sm:space-y-0 sm:flex"
                >
                  <div class="relative z-10">
                    <a
                      href="/app/"
                      class="inline-flex items-center w-full py-6 text-base font-bold text-white bg-primary-800 border border-transparent rounded-md px-14 hover:bg-primary-400 hover:text-primary-900 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-primary-600"
                      >Baue deinen Sitzplan</a
                    >
                  </div>
                  <div class="relative z-10">
                    <button
                      type="button"
                      class="inline-flex items-center w-full text-base font-bold text-primary-900 border border-transparent rounded-md py-4 px-8 md:w-auto hover:bg-primary-400 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-8 focus:ring-primary-600"
                    >
                      <svg
                        width="40"
                        height="40"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle
                          cx="20"
                          cy="20"
                          r="20"
                          fill="currentColor"
                          fill-opacity=".19"
                        ></circle>
                        <path
                          d="M26.896 19.693a1 1 0 010 1.614l-8.556 6.257a1 1 0 01-1.59-.807V14.243a1 1 0 011.59-.807l8.556 6.257z"
                          class="text-primary-900"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <div class="flex flex-col items-start pl-4">
                        <p class="text-dark-blue">Schaue die Demo</p>
                        <p class="text-sm font-medium text-gray-400">
                          2 Minuten
                        </p>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative w-full my-20">
              <img
                src="/static/seaty-hero.webp"
                alt="Screenshot of Seaty App"
                class="relative z-30 w-3/4 max-w-6xl mx-auto shadow-xl -skew-y-2"
              /><img
                src="/static/gradient_ball.svg"
                alt=""
                class="h-[30.937%] z-40 absolute left-[84%] top-[8.3%]"
              /><img
                src="/static/gradient_ball.svg"
                alt=""
                class="h-[51.215%] z-40 absolute left-[-4.86%] top-[41.605%]"
              />
              <div
                class="w-[48%] h-auto absolute -right-1/3 top-[-22.401%] z-0"
              >
                <div
                  class="aspect-w-1 aspect-h-1 bg-attention rounded-full filter blur-[85px] sm:blur-[150px] md:blur-[200px] lg:blur-[250px]"
                ></div>
              </div>
              <div class="w-[48%] h-auto absolute left-[-20.833%] top-0 z-0">
                <div
                  class="aspect-w-1 aspect-h-1 bg-warning rounded-full filter blur-[85px] sm:blur-[150px] md:blur-[200px] lg:blur-[250px]"
                ></div>
              </div>
              <div
                class="w-[28.56%] h-auto absolute left-[-20.833%] top-[44.802%] z-10"
              >
                <div
                  class="aspect-w-1 aspect-h-1 bg-pink-300 rounded-full filter blur-[55px] sm:blur-[60px] md:blur-[110px] lg:blur-[160px]"
                ></div>
              </div>
              <div
                class="w-[40.8%] h-auto absolute right-[-16.666%] top-[22.401%] z-10"
              >
                <div
                  class="aspect-w-1 aspect-h-1 bg-pink-300 rounded-full filter blur-[55px] sm:blur-[60px] md:blur-[110px] lg:blur-[160px]"
                ></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="bg-white">
        <div
          class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8"
        >
          {% include "navigation.njk" %}
          <p class="mt-8 text-base text-center text-gray-400">
            Christian Kozalla
          </p>
        </div>
      </footer>
    </div>
  </div>
</main>
